
body {
    text-align: center;
    background-color: rgb(81, 134, 196);
}
div {
    display: inline-block;    
}
input, button {
    display: inline-block;
    padding: 10px 20px;
}

.completeDate{
    width: 30%;
}
button:hover{
    background-color: green;
}

@media(max-width:300) {
.completeDate{
    width: 20%;
}
}